.root {

}

.section {
    margin-bottom: 56px;
}

.section h3 {
    font-weight: normal;
    font-size: 32px;
    line-height: 26px;
    margin-bottom: 1.5rem;
}

.section p {
    text-align: justify;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 1rem;
}
.section a {
    color: var(--jj-pink);
    text-decoration: underline;
    transition: all 0.5s ease;
}
.section a:hover {
    color: var(--standard-white);
    text-decoration: underline;
}
.section a.footer {
    color: var(--standard-white);
    text-decoration: underline;
    transition: all 0.5s ease;
}
.section ul {
    margin-left: 20px;
    text-align: justify;
}
.section .bulletPoints {
    list-style-type: disc;
    color: var(--jj-pink);
    padding: 1px;
    font-size: 160%;
}
.section .lastRevised {
    font-size: 80%;
    font-weight: 400;
    margin-top: 15px;
}

@media (max-width: 800px) {

    .section h3 {
        font-size: 22px;
        line-height: 24px;
    }

    .section p {
        font-size: 14px;
        line-height: 24px;
    }

}