.breadcrumbs {
    width: 100vw;
    margin: 40px 0 20px 0;
}

.spacer {
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;
    vertical-align: center;
    color: var(--standard-white);
}

.crumb {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--standard-white);
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

a.crumb:hover {
    color: var(--standard-gold);
}